:root {
	--accent-color-hue: 236;
	--accent-color-saturation: 100%;
	--disabled-color: #cfcfcf;
	--error-color: #d40000;
}

.app {
	text-align: left;
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

.error {
	color: var(--error-color);
	/* font-weight: bold; */
}

.header {
	text-align: left;
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	font-weight: bold;
	font-size: 25px;
}

.headingLoader {
	position: fixed;
	text-align: center;
	top: 40%;
	left: 43%;
	font-size: 20px;
	font-weight: bold;
}

.buttons-container {
	margin-top: 1.5rem;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.button {
	padding: 0.5em 0.5em;
	background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 92%);
	font-size: 18px;
	border-style: none;
	border-radius: 10%;
	transition: background-color 0.15s ease;
}

.button:hover {
	background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 87%);
}

.button:active {
	background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 82%);
}

.button:disabled {
	background-color: var(--disabled-color);
}

.list-container {
	margin-top: 1.5rem;
}

.list-heading {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 0.5rem;
}

.list {
	text-align: left;
	margin: 0 auto;
	max-width: 300px;
}

.list-item:not(:last-child) {
	margin-bottom: 0.5em;
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 35px;
	height: 30px;
	border: 5px solid gray;
	border-radius: 50%;
	border-left-color: transparent;
	animation: loader 1s infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}